body {
        background-color: rgb(32, 0, 119);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
         }

     div {
        padding: 20px;
        border-radius: 20px;
     }


     img {
        display: block;
        margin: 0 auto;
        position: left;
     }

     h1 {
        size: 80px;
        text-align: center;
        color: rgb(255, 132, 0);
        }

     h2 {
        text-align: center;
        }

     h3 {
        text-align: left;
        }
    
     h4 {
        text-align: left;
        }

     .places {
        color: white;
             }

     img {
        display: block;
        justify-content: left;
        align-items: left;
        position: left;
         }

     .footnote {
        color: white;
     }

     img .hanna {
      align-items: left;
     }

     p {
      color: rgb(32, 0, 119);
      text-align: center;

    

     }